{% extends 'base.html.twig' %}

{% block title %}Hello ChambreController!
{% endblock %}

{% block body %}
	<h1><img class="orge" src="{{asset('assets/orge2.png')}}" alt="">Nos suites et nos chambres<img class="orge" src="{{asset('assets/orge.png')}}" alt=""></h1>


	<h2>Les chambres simples</h2>
	<div class="image-container">

		<img class="chambresimple" src="{{asset('assets/chambretressimple.jpg')}}" alt="Image 1">

		<p><img class="orge" src="{{asset('assets/flecheg.png')}}" alt="">Pour les voyageurs en quête de simplicité et d'élégance, notre chambre simple est l'option parfaite. Avec son design raffiné et ses équipements modernes, vous pourrez profiter d'un espace confortable pour vous reposer après une journée bien remplie à explorer les merveilles de la région.</p>


	</div>
	<div class="liensimple">
		<a class="lien" href="{{path('app_simple')}}">Découvrez nos chambres simples</a>
	</div>
	<hr>
	<h2>Les chambres +confort</h2>
	<div class="image-container">
		<a href="#" class="image-link">
			<img class="chambresimple" src="{{asset('assets/chambre1.jpg')}}" alt="Image 1">
		</a>
		<p><img class="orge" src="{{asset('assets/flecheg.png')}}" alt="">
			En plus de nos chambres simples et de nos suites luxueuses, nous sommes ravis de vous offrir notre chambre confort, une option parfaite pour ceux qui recherchent un équilibre entre simplicité et élégance.
									
									Notre chambre confort offre une atmosphère chaleureuse et accueillante, associée à des équipements modernes pour garantir votre confort optimal. Avec un design raffiné et des installations de qualité, cette chambre est idéale pour les voyageurs qui souhaitent profiter d'un séjour agréable sans compromettre leur budget.</p>
	</div>
	<div class="liensimple">
		<a class="lien" href="{{path('app_simple')}}">Découvrez nos chambres confort+</a>
	</div>
	<hr>
	<h2>Les suites</h2>
	<div class="image-container">
		<a href="#" class="image-link">
			<img class="suite" src="{{asset('assets/suitee.jpg')}}" alt="Image 2">
		</a>
		<p><img class="orge" src="{{asset('assets/flecheg.png')}}" alt="">Si vous recherchez une expérience plus luxueuse et exclusive, notre suite vous comblera de bonheur. Offrant un cadre somptueux et des prestations haut de gamme, cette suite vous permettra de vous immerger dans un confort absolu. Détendez-vous dans un espace spacieux et profitez d'une vue imprenable sur la mer, créant ainsi des souvenirs inoubliables.</p>

	</div>
	<div class="liensimple">
		<a class="lien" href="{{path('app_simple')}}">Découvrez nos suites</a>
	</div>

	<style>
		h1 {
			font-family: 'Dancing Script', cursive;
			text-align: center;
			margin: 30px;
		}
		.image-container {
			display: flex;
			justify-content: space-between;

		}

		.image-link {
			display: inline-block;
			width: 45%; /* Ajustez la largeur selon vos besoins */
			transition: transform 0.3s ease-in-out;
		}

		.image-link:hover {
			transform: scale(1.1); /* Ajustez la valeur de zoom selon vos besoins */
		}
		.chambresimple {
			height: 500px;
			width: 750px;
			margin: 50px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
		.suite {
			height: 500px;
			width: 750px;
			margin: 50px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
		p {
			margin: 150px;
		}
		h2 {
			font-family: 'Dancing Script', cursive;
			color: rgb(203, 130, 35);
			margin: 50px;
		}
		.liensimple {
			display: flex;
			justify-content: center;
			color: #3333 border-radius: 50px;


		}
		.lien {
			text-decoration: none;
			background-color: rgb(203, 130, 35);
			border-radius: 50px;
			color: #FFF;
			padding: 15px;
			margin: 15px;
		}
		.lien:hover {
			background-color: #ae851c4f;
			color: #333;

		}
	</style>
{% endblock %}
